# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Virtual environments
.venv/
venv/
env/
dl-env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Misc
*.log
